<div class="container">
    <div class="clearfix mt-sm-5">
        <app-login class="col-md-4 float-md-end mb-3 ms-md-3"></app-login>
        <img src="../assets/images/Cinema Poster Banner.jpeg" class="col-md-7 float-md-center mt-3 mb-3 ms-md-5" alt="...">
        
        <p>
            This is a project undertaken for CMPE 202 with Gopinath Vinodh as Professor. The aim of this project is to build a Movie Theater Club Application.
        </p>
    </div>
</div>

<div class="d-grid gap-2 col-2 mx-auto">
    <button (click)="routeToCreateAccount()" class="btn btn-primary btn-lg" type="button">Create Account</button>
</div>
<p></p>
<div class="d-grid gap-2 col-2 mx-auto">
    <button (click)="routeToBookTickets()" class="btn btn-dark btn-lg" type="button">Book Tickets</button>
</div>