<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <span class="material-symbols-outlined icon-size">
          movie_info
        </span>
      </div>
      <mat-card-title>{{ title.toUpperCase() }}</mat-card-title>
      <mat-card-subtitle>{{ rating }}, {{ runTime }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../assets/movies/{{ posterFileName }}" alt="Photo of a Poster">
    <p></p>
    <mat-card-content>
      <button mat-stroked-button color="primary" class="showtime-button" (click)="routeToPayment(st)" *ngFor="let st of showtime">{{ st }}</button>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button matTooltip="{{ description }}">INFO</button>
    </mat-card-actions>
</mat-card>
  